In [1]:
## First Assignment
## Marin Georgiev, Cognitive Science

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [28]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [47]:
xstr = x.lower().replace(" ", "")
print(xstr[27:].capitalize())

Dichlorodiphenyltrichloroethane

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [49]:
A, B, C, D = "word", 15, 3.14, "list"
print(A, B, C, D)

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [25]:
a, b = input("Please enter your weight and height separated by space in one line: ").split()
w = float(a)
h = float(b)
bmi = w / (h*h)

Please enter your weight and height separated by space: 68.4 1.71

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [26]:
if bmi < 18.5:
    print("Underweight")
elif bmi == 18.5 or bmi <= 24.9:
    print("Normal weight")
elif bmi == 25 or bmi <=29.9:
    print("Pre-obesity")
elif bmi == 30 or bmi <= 34.9:
    print("Obesity class I")
elif bmi == 35 or bmi <= 39.9:
    print("Obesity class II")
else:
    print("obesity class III")

Normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [88]:
fact = int(input("Enter a WHOLE number: "))
num = 1
if fact == num:
    print("1")
else:
    for i in range(1, fact + 1):
        num = num * i
    print(num)

Enter a WHOLE number: 4
24

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [99]:
total = 0

while True: 
    numbers = int(input("Enter a whole number: "))
    if numbers == -1:
        break
    total += numbers
    
print(total)

Enter a whole number: 2
Enter a whole number: 2
Enter a whole number: -1
4

## 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [109]:
f_name, w_hours, s_hour = str(input("Enter your first name: ")), float(input("Enter your working hours: ")), float(input("Enter your salary per hour: "))
t_salary = s_hour * w_hours
print(f_name, "has earned", "{:.2f}".format(t_salary), "in total.")

Enter your first name: Marin
Enter your working hours: 3.5351
Enter your salary per hour: 8.521512
Marin has earned 30.12 in total.

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [114]:
A, B, C = float(input("Enter a number: ")), float(input("Enter a number: ")), float(input("Enter a number: "))

Enter a number: 4.56
Enter a number: 7.55
Enter a number: 6.51

    a) the area of the triangle rectangle with A as the base and C as the height.

In [119]:
area_triangle = 1/2 * (A*C)
print(area_triangle)

14.842799999999999

    b) the area of the circle of radius C. (pi = 3.14159)

In [116]:
area_circle = 3.14159 * C ** 2
print(area_circle)

133.140898359

    c) the area of the trapezoid that has A and B for bases and C for height.

In [117]:
area_trapezoid = (A+B) / 2*C
print(area_trapezoid)

39.418049999999994

    d) the area of the square that has side B.

In [121]:
area_square = B*B
print(area_square)

57.0025

    e) the area of the rectangle that has sides A and B.

In [122]:
area_rectangle = A * B
print(area_rectangle)

34.428

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [125]:
aa, bb, cc = int(input("Enter a whole number: ")), int(input("Enter a whole number: ")), int(input("Enter a whole number: "))
x3 = (-bb + (bb ** 2 - 4 * aa * cc) ** 0.5) / 2 * aa
x4 = (-bb - (bb ** 2 - 4 * aa * cc) ** 0.5) / 2 * aa
print (x3, x4)
if x3 != 0 or x4 != 0:
    print("There are no real roots")

Enter a whole number: 5
Enter a whole number: 6
Enter a whole number: 7
(-14.999999999999998+25.495097567963924j) (-15.000000000000002-25.495097567963924j)

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [126]:
## I must admit that I copy-pasted the solution from google. 
## I was aware that the two points should be distributed in lists, but after that I stuck. The math library and ''.sqrt' function were copied.
x1, y1, x2, y2 = float(input()), float(input()), float(input()), float(input())
import math
p1 = [x1, y1]
p2 = [x2, y2]
distance = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )

print(distance)

2
2
-2
-3
6.4031242374328485

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [50]:
xx1, yy1 = float(input()), float(input())
if xx1 == 0 and yy1 == 0:
    print("Origin")
elif xx1 == 0 and yy1 > 0: 
    print("Y axis")
elif xx1 == 0 and yy1 < 0: 
    print("Y axis")
elif xx1 < 0 and yy1 == 0: 
    print("X axis")
elif xx1 > 0 and yy1 == 0: 
    print("X axis")
elif xx1 > 0 and yy1 > 0:
    print("Q1")
elif xx1 < 0 and yy1 > 0:
    print("Q2")
elif xx1 > 0 and yy1 < 0:
    print("Q4")
elif xx1 < 0 and yy1 < 0:
    print("Q3")

1
2
Q1

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [8]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [14]:
print("Hello! This program will tell whether you entered a country phone code. Enjoy!")
Austria = 43
Belgium = 32
Bulgaria = 359
Croatia = 385
Denmark = 45
Germany = 49
#...
#....
#.....
while True:
    phone = int(input("Please enter an integer here: "))
    if phone != Austria and phone != Belgium and phone != Bulgaria and phone != Croatia and phone != Denmark and phone != Germany:
        print("This integer is not a phone code of any country. Try again!")
        continue
    elif phone == Austria:
        print("This is the phone code of Austria")
        break
    elif phone == Belgium:
        print("This is the phone code of Belgium")
        break
    elif phone == Bulgaria:
        print("This is the phone code of Bulgaria")
        break
    elif phone == Croatia:
        print("This is the phone code of Croatia")
        break
    elif phone == Denmark:
        print("This is the phone code of Denmark")
        break
    elif phone == Germany:
        print("This is the phone code of Germany")
        break

Hello! This program will tell whether you entered a country phone code. Enjoy!
Please enter an integer here: 358
This integer is not a phone code to any country. Try again!
Please enter an integer here: 359
this is the phone code of Bulgaria

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [52]:
list_numbers = []
max_numbers = 6
while len(list_numbers) < max_numbers:
    numy = float(input())
    list_numbers.append(numy)
for numy in list_numbers:
    if numy > 0:
        print(numy)
average = sum(list_numbers) / len(list_numbers)
print("The mean is: ", "{:.1f}".format(average))

5.55
-5.55
-6.14
-7.1255
23.31
33.1
5.55
23.31
33.1
The mean is:  7.2

## 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [22]:
numi = int(input())
for g in range (1, numi+1):
    if g % 2 == 0:
        print(g*g)

6
4
16
36

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [17]:
classy = int(input())
if classy < 0 and classy % 2 == 0:
    print("Negative, Even")
elif classy > 0 and classy % 2 == 0:
    print("Positive, Even")
elif classy < 0 and classy % 2 != 0:
    print("Negative, Odd")
elif classy > 0 and classy % 2 !=0:
    print("Positive, Odd")
else:
    print("null")

-4
Negative, Even

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.